<div class="d-flex p-5 justify-content-center align-items-center" id="welcome-container">
    <div class="d-flex p-5" id="translucent"></div>
    <div class="card" id="welcome-card">
        <div class="card-header" id="welcome-image"></div>
            <div class="card-body">
                <h1 class= "card-text">Welcome to Second Life</h1>
                    <p class="card-text"> This app focuses on giving unwanted objects a chance of a Second Life. If you feel your old grandfather clock isn't much use to you, then perhaps a kind stranger could give it a good home.</p>       

                    <p>This app allows you to upload photos of your items and tell other users of the app where abouts they can locate them using google maps.</p>

                    <p>Check out our 'Map View' button located on the home page to see what items are near you. </p>

                    <p>All that we ask if that you delete your post after someone has collected your item, we don't want to give another Second Lifer false hope!</p>
                <br>
                <div class="card-footer">
                  <p class="card-text"><strong> Who we are </strong></p>
                  <div class="row">
                      <div class="col-sm-12">
                        <div>
                            <img class="about-pictures" style="background-image:url('<%= image_path('James.jpg') %>')"> 
                            <p><a href="https://github.com/jamesoddy8"> James Oddy </a></p> 
                        </div>
                        <div> 
                            <img class="about-pictures" style="background-image:url('<%= image_path('Jara.png') %>')"> 
                            <p><a href="https://github.com/jarasmar"> Jara Santamaria </a> </p>
                        </div>
                        <div> 
                            <img class="about-pictures" style="background-image: url('<%= image_path('George.jpg') %>')">
                            <p><a href="https://github.com/Swarbzz"> George Swarbrick  </a> </p>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>