<div id="container">
    <div class="d-flex p-5" id="translucent-about-page"></div>
    <br><br>
    <div class="card" id="about-card">
        <div class="card-body">
            <h1 class= "card-text">Second Life</h1>
            <h5>What We Do & Who We Are</h5>
            <br>
            <p class="card-text"> This app focuses on giving unwanted objects a chance of a Second Life. If you feel your old grandfather clock isn't much use to you, then perhaps a kind stranger could give it a good home.</p>       

            <p>This app allows you to upload photos of your items and tell other users of the app where abouts they can locate them using google maps.</p>

            <p>Check out our 'Map View' button located on the home page to see what items are near you. </p>

            <p>All that we ask if that you delete your post after someone has collected your item, we don't want to give another Second Lifer false hope!</p>
            <br>
            <div class="card-footer">
                <div class="row">
                    <div class="col-sm-12" id="about-pictures-container">
                        <div>
                            <img class="about-pictures" style="background-image:url('<%= image_path('James.jpg') %>')"> 
                            <p><a href="https://github.com/jamesoddy8"> James Oddy </a></p>
                            <div class="about-links">
                                <a href="https://github.com/jamesoddy8" class"icon-link">
                                    <i class="fab fa-github-square fa-lg"></i>
                                </a>
                                &nbsp;
                                <a href="https://www.linkedin.com/in/james-oddy-a203b8188/" class"icon-link">
                                    <i class="fab fa-linkedin fa-lg"></i>
                                </a> 
                            </div>
                        </div>
                        <div> 
                            <img class="about-pictures" style="background-image:url('<%= image_path('Jara.png') %>')"> 
                            <p><a href="https://github.com/jarasmar"> Jara Santamaria </a> </p>
                            <div class="about-links">
                                <a href="https://github.com/jarasmar" class"icon-link">
                                    <i class="fab fa-github-square fa-lg "></i>
                                </a>
                                &nbsp;
                                <a href="https://www.linkedin.com/in/jarasmar/" class"icon-link">
                                    <i class="fab fa-linkedin fa-lg"></i>
                                </a> 
                            </div>
                        </div>
                        <div> 
                            <img class="about-pictures" style="background-image: url('<%= image_path('George.jpg') %>')">
                            <p><a href="https://github.com/Swarbzz"> George Swarbrick  </a> </p>
                            <div class="about-links">
                                <a href="https://github.com/Swarbzz" class"icon-link">
                                    <i class="fab fa-github-square fa-lg"></i>
                                </a>
                                &nbsp;
                                <a href="https://www.linkedin.com/in/george-swarbrick-8b266a192/" class"icon-link">
                                    <i class="fab fa-linkedin fa-lg"></i>
                                </a> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</div>