<h1>Second Life</h1>
<% if logged_in? %>

  <h2>Welcome <%= current_user.username %> </h2>

<%end%>

<%= button_to "New Post", 'posts/new', method: :get %>

<%= button_to "logout", '/logout', method: :delete%>
