// Style for main view
.card-img-top {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

#index-card {
  width: 30rem;
  margin: auto;
  box-shadow: 0px 0px 44px 0px rgba(0,0,0,0.75);
}

.card-title {
  color: black;
}

.card-title:hover {
  color: grey;
}

// Style for Map View
.main-map-view-container {
  position: absolute;
  width: 100%;
}

.map-view-background {
  // background-color: #E5DCBE;
  background-image: url("../images/white-bronze.jpg");
  background-repeat: repeat;
  background-size: cover;
  opacity: 0.4;
  height: 100%;
  width: 100%;
  position: fixed;
}

.map-view-container {
  height: 76vh;
  width: 80%;
  position: relative;
  margin: auto;
  padding-top: 100px;
  // box-shadow: 0px 0px 44px 0px rgba(0,0,0,0.75);
}

.map-view-map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.info-window-content {
  column-count: 2;
}

// about page

.about-pictures {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 100px; 
  height: 100px;
  margin: auto;
}
